$breakpoints: (
  'medium': (min-width: 800px),
  'large': (min-width: 1000px),
  'huge': (min-width: 1200px),
);

$regular-font: "Droid Sans", Arial, Serif, sans-serif;
$capital-font:  "Oswald", Arial, Serif, sans-serif;
$designer-font: "Great Vibes", Arial, Serif, sans-serif;
$default-font: "Open sans", Arial, Serif, sans-serif;
