.purchase-button {
  display: inline-block;
  color: #df001f;
  font-family: $regular-font;
  font-size: 12px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  background-color: #ffffff;
  padding: 5px 20px;
}