.centralize-logo {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

header {
  margin: 0 auto;
  padding: 10px 0;
}

.social-networks {
  display: flex;
  justify-content: flex-start;
  li {
    padding-left: 10px;
  }
}

.layout-purchase {
  position: relative;
  left: calc(50% - 76px);
}

